/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  background-color: #f4f5f7;
}

/* Navbar (white) */
.navbar {
  height: 92px;            /* Figma height */
  padding: 0 120px;        /* left/right padding */
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  color: #000000;
}

/* Logo */
.logo {
  height: 32px;            /* Figma অনুযায়ী বদলাও */
  width: auto;
}

/* Center menu */
.nav-center {
  display: flex;
  gap: 40px;               /* menu gap */
  flex: 1;
  justify-content: center;
}

.nav-center a {
  color: #4b5563;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
}

/* Right button */
.nav-right {
  flex-basis: 160px;
  display: flex;
  justify-content: flex-end;
}

.nav-btn {
  background-color: #1fb574;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 10px 22px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

/* Hero / Banner (background image) */
.hero {
  min-height: calc(100vh - 92px);
  background-image: url('../assets/hero-bg.png');
  background-size: cover;
  background-position: center;
  color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: center;   /* box ke center e */
}

.hero-content {
  max-width: 720px;          /* Figma te joto dekho, 700–760 ভাল কাজ করে */
  padding: 120px 120px 150px;/* Figma padding: left 120, top approx 120 */
  text-align: center;        /* text center, Figma moto */
}

.badge {
  display: inline-block;
  background-color: #f5faff;
  color: #30B868;
  padding: 4px 14px;
  border-radius: 999px;
  font-size: 12px;
  margin-bottom: 20px;
  text-align: center;
}

/* Heading & text */
.hero-content h1 {
  font-size: 42px;
  line-height: 1.2;
  margin-bottom: 16px;
}

.hero-content p {
  font-size: 16px;
  line-height: 1.6;
  max-width: 560px;
  margin: 0 auto 28px;   /* auto মানে center */
}

.hero-actions {
  display: flex;
  justify-content: center;  /* buttons center */
  align-items: center;
  gap: 16px;
}


.hero-title {
  font-size: 50px;        /* Figma te 48–52px er moto */
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero-title span {
  color: #30B868;         /* Figma green */
}


.primary-btn {
  background-color: #30B868;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 16px 12px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.ghost-btn {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid rgba(255,255,255,0.5);
  border-radius: 4px;
  padding: 16px 12px;
  font-size: 14px;
  cursor: pointer;
}
